@import "colors.module";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#error-page {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tod {
    &MarginRight10 {
        margin-right: 10px;
    }
    &MarginBottom10 {
        margin-bottom: 10px;
    }
    &MarginY8 {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    &MarginY10 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &Flex {
        display: flex;
    }
    &FlexCenterStart {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &FlexCenterEnd {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &FlexBetween {
        display: flex;
        justify-content: space-between;
    }
    &HeaderPage {
        padding: 15px;
        .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #1E1F21;
        }
    }
    &HrHeaderPage {
        margin: 0;
        border-color: #E0E0E0;
    }
    &GroupCard {
        padding: 16px;
        border-radius: 4px;
        border: 1px solid;
        &.primary {
            background: #F7FEFF;
            border-color: $primaryColor;
        }
        &.secondary {
            background: #FFFCF5;
            border-color: $secondaryColor;
        }
        &.danger {
            background: #FFFAFA;
            border-color: $dangerColor;
        }
        &.success {
            background: #F8FBF9;
            border-color: $successColor;
        }
        .groupLabel {
            padding: 2px 8px;
            border-radius: 4px;
            border: 1px solid;
            font-size: 12px;
            &.primary {
                border-color: $primaryColor;
                color: $primaryColor;
            }
            &.secondary {
                border-color: $secondaryColor;
                color: $textWarning;
            }
            &.danger {
                border-color: $dangerColor;
                color: $textDanger;
            }
            &.success {
                border-color: $successColor;
                color: $textSuccess;
            }
        }
        .monthLabel {
            font-weight: 700;
            font-size: 12px;
            color: $textDark;
        }
    }
    &GroupTask {
        padding: 16px;
        background: $bgGroupTask;
        border: 1px solid $borderGroupTask;
        border-radius: 4px;
        margin-bottom: 8px;
        .title {
            font-weight: 700;
            font-size: 14px;
            color: $textDark;
        }
        hr {
            border-top: 1px dashed $borderGroupTask;
        }
    }
    &LinearProgress {
        height: 16px!important;
        border-radius: 10px;
        .MuiLinearProgress-bar2Buffer {
            background-color: $bgProgressBar;
        }
        &.complete {
            .MuiLinearProgress-bar1Buffer {
                background-color: $progressGreen;
            }
        }
        &.incomplete {
            .MuiLinearProgress-bar1Buffer {
                background-color: $primaryColor;
            }
        }
    }
    &Modal {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 12;
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            .content {
                background-color: #fff;
                min-height: 180px;
                max-height: calc(100vh - 100px);
                min-width: 640px;
                max-width: 640px;
                overflow-y: auto;
                overflow-x: hidden;
                border-radius: 4px;
                position: relative;
                z-index: 10;
                padding: 20px;
                .close {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-repeat: no-repeat;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    margin: 15px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 20;
                    &:after {
                        content: "\00d7";
                        font-size: 24px;
                    }
                }
                .title {
                    font-weight: 700;
                    font-size: 18px;
                }
                .footer {
                    display: flex;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }
        }
        .layerDark {
            width: 100%;
            height: 100%;
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: #000;
            z-index: 9;
            opacity: .7;
        }
    }
    &ControlModal {
        position: absolute;
        right: 5px;
        top: 20px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        min-width: 250px;
        z-index: 9;
        .label {
            font-weight: 600;
            font-size: 14px;
            color: #333333;
        }
    }
    &LabelInput {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 5px;
    }
}